<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>'Allo Poppet</title>
  </head>
  <body>
    <h1>A place you've been:</h1>

    <form action="/places" method="post">
      <label for="description">New place you've been:</label>
      <input id="description" name="description" type="text">
      <br>
      <label for="placeDescription">Place description:</label>
      <input id="placeDescription" type="text" name="placeDescription">
      <br>
      <label for="stay">Length of stay:</label>
      <input id="stay" type="text" name="stay">
      <br>
      <label for="homeless">Homeless friendly?</label>
      <input id="homeless" type="text" name="homeless">
      <br>
      <label for="deets">Other deets:</label>
      <input id="deets" type="text" name="deets">
      <br>
      <button type="submit" class="btn btn-light">Submit</button>
    </form>

  </body>
</html>
