<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>'Allo Poppet</title>
  </head>
  <body>
    <h1>Places you've been</h1>

    <form action="/places" method="post">
      <label for="description">Add a new place you've been</label>
      <input id="description" name="description" type="text">
      <label for="place-description">Place details:</label>
      <input id="place-description" type="text" name="place-description">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
